Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [2]:
import numpy as np
arr = np.arange(1, 11)
matrix = arr.reshape(2, 5)
print(matrix)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index

In [7]:
import numpy as np
arr = np.arange(1, 21)
extracted = arr[5:16]

print("Original Array:", arr)
print("Extracted Elements (5th to 15th index):", extracted)

Original Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Extracted Elements (5th to 15th index): [ 6  7  8  9 10 11 12 13 14 15 16]

Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [8]:
import pandas as pd

fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

fruit_series['pears'] = 4

print(fruit_series)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [10]:
import pandas as pd
import numpy as np

data = {
    'name': ['Noufal', 'Anwar', 'Suhail', 'Rajesh', 'Noufidha', 'Ali', 'Aman', 'Haris', 'Sumayya', 'Sinsiya'],
    'age': np.random.randint(18, 65, 10),
    'gender': np.random.choice(['Male', 'Female', 'Other'], 10)
}

df = pd.DataFrame(data)

print(df)

       name  age  gender
0    Noufal   54   Other
1     Anwar   35    Male
2    Suhail   53  Female
3    Rajesh   42   Other
4  Noufidha   31   Other
5       Ali   28  Female
6      Aman   30   Other
7     Haris   47   Other
8   Sumayya   45   Other
9   Sinsiya   46  Female

Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [11]:
df = pd.DataFrame(data)

occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

df['occupation'] = occupations

print(df)

       name  age  gender  occupation
0    Noufal   54   Other  Programmer
1     Anwar   35    Male     Manager
2    Suhail   53  Female     Analyst
3    Rajesh   42   Other  Programmer
4  Noufidha   31   Other     Manager
5       Ali   28  Female     Analyst
6      Aman   30   Other  Programmer
7     Haris   47   Other     Manager
8   Sumayya   45   Other     Analyst
9   Sinsiya   46  Female  Programmer

Select the rows of the dataframe where the age is greater than or equal to 30.

In [12]:
df = pd.DataFrame(data)

older_than_30 = df[df['age'] >= 30]

print(older_than_30)

       name  age  gender
0    Noufal   54   Other
1     Anwar   35    Male
2    Suhail   53  Female
3    Rajesh   42   Other
4  Noufidha   31   Other
6      Aman   30   Other
7     Haris   47   Other
8   Sumayya   45   Other
9   Sinsiya   46  Female

Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [15]:
df = pd.DataFrame(data)

import io

csv_buffer = io.StringIO()
df.to_csv(csv_buffer, index=False)
csv_buffer.seek(0)


df_from_csv = pd.read_csv(csv_buffer)


print(df_from_csv)

       name  age  gender
0    Noufal   54   Other
1     Anwar   35    Male
2    Suhail   53  Female
3    Rajesh   42   Other
4  Noufidha   31   Other
5       Ali   28  Female
6      Aman   30   Other
7     Haris   47   Other
8   Sumayya   45   Other
9   Sinsiya   46  Female