# ##List

Q1. Create a list of 5 random numbers and print the list.

In [3]:
import random

In [18]:
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[15, 65, 8, 97, 50]

Q2. Insert 3 new values to the list and print the updated list.

In [6]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

New_values =[75,50,25]
random_numbers.extend(New_values)
print(random_numbers)

[9, 19, 76, 76, 24]
[9, 19, 76, 76, 24, 75, 50, 25]

Q3. Try to use a for loop to print each element in the list.

In [10]:
print()
for number in random_numbers:
    print(number)

9
19
76
76
24
75
50
25

# ## Dictionary

Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [12]:
Person = {'name': 'John',
    'age': 25,
    'address': 'New York' }

print(Person)

{'name': 'John', 'age': 25, 'address': 'New York'}

Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [14]:
Person['phone'] = '1234567890'
print(Person)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Set

Q1.Create a set with values 1, 2, 3, 4, and 5.

In [15]:
set ={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

Q2. Add the value 6 to the set created in Q1.

In [16]:
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

Q3. Remove the value 3 from the set created in Q1.

In [17]:
set.remove(3)
print(set)

{1, 2, 4, 5, 6}

## Tuple

Q1. Create a tuple with values 1, 2, 3, and 4

In [18]:
tuple = (1, 2, 3, 4)
print(tuple)

(1, 2, 3, 4)

Q2. Print the length of the tuple created in Q1

In [19]:
print(len(tuple))

4