<a href="https://colab.research.google.com/github/MUHAMMED-NOUFAL-KT/Python---Assignment/blob/main/Assignment_1(Pounds_to_Dollar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write Python code that prints your name, student number and email address.

In [ ]:
Name = 'Noufal'
Student_Number = '1375123'
Email = 'noufalkt0104@gmail.com'

print("Name:", Name),
print("Student_ID:",Student_Number),
print('Email:',Email)

Name: Noufal
Student_ID: 1375123
Email: noufalkt0104@gmail.com

Write Python code that prints your name, student number and email address using escape sequences.

In [ ]:
print("Name:\t\t" + Name)
print("Student Number:\t" + Student_Number)
print("Email Address:\t" + Email)

Name:		Noufal
Student Number:	1375123
Email Address:	noufalkt0104@gmail.com

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.


[ ]

In [ ]:
Num1 = 14
Num2 = 7

add = Num1 + Num2
Sub = Num1-Num2
Mul = Num1*Num2
Div = Num1/Num2

print("ADDITION:",add)
print('SUBSTRACTION:',Sub)
print('MULTIPLICATION:',Mul)
print('DIVISION:',Div)

ADDITION: 21
SUBSTRACTION: 7
MULTIPLICATION: 98
DIVISION: 2.0

Write Python code that displays the numbers from 1 to 5 as steps.

In [ ]:
for i in range(1,6):
  print("step"+str(i)+":"+str(i))

step1:1
step2:2
step3:3
step4:4
step5:5

Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: An example runs of the program:
"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [ ]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\"")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment"

Practice and check the output print("python is an "awesome" language.") print("python\n\t2023") print('I'm from Entri.\b') print("\65") print("\x65") print("Entri", "2023", sep="\n") print("Entri", "2023", sep="\b") print("Entri", "2023", sep="*", end="\b\b\b\b")

In [ ]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

Define the variables below. Print the types of each variable. What is the sum of your variables? num=23 textnum="57" decimal=98.3

In [ ]:
num = 23
textnum = "57"
decimal = 98.3

print("Num type:", type(num))
print("Textnum type:", type(textnum))
print("Decimal type:", type(decimal))

sum = num + int(textnum) + decimal

print("Sum:", sum)

print("Sum _Data type:", type(sum))

Num type: <class 'int'>
Textnum type: <class 'str'>
Decimal type: <class 'float'>
Sum: 178.3
Sum _Data type: <class 'float'>

calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values

In [ ]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

print("Total days in a year:", days_in_year)
print("Total hours in a day:", hours_in_day)
print("Total minutes in an hour:", minutes_in_hour)

total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

print('total_min_in_year:',total_minutes_in_year)

Total days in a year: 365
Total hours in a day: 24
Total minutes in an hour: 60
total_min_in_year: 525600

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [ ]:
name = input("your name: ")
print(f"Hi {name}, welcome to Python programming :)")

your name: Noufal
Hi Noufal, welcome to Python programming :)

Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($)

In [ ]:
pounds = float(input("pounds Value: "))

conversion_rate = 1.25

Dollar = pounds * conversion_rate

print("Dollar_Value:",Dollar)

pounds Value: 1200
Dollar_Value: 1500.0